<% content_for :title, "Agents" -%>

<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div class="page-header">
        <h2><%= session[:original_admin_user_id].present? ? "#{current_user.username}’s Agents" : 'Your Agents' %></h2>
      </div>

      <%= render 'agents/table' %>

      <br/>

      <div class="btn-group" role="group">
        <%= link_to icon_tag('fa-plus') + ' New Agent', new_agent_path, class: "btn btn-primary" %>
        <%= link_to icon_tag('fa-refresh') + ' Run event propagation', propagate_agents_path, method: 'post', class: "btn btn-primary" %>
        <%= link_to icon_tag('fa-random') + ' View diagram', diagram_path, class: "btn btn-primary" %>
        <%= link_to icon_tag('fa-adjust') + toggle_disabled_text, toggle_visibility_agents_path, method: :put, class: "btn btn-primary visibility-enabler" %>
      </div>
    </div>
  </div>
</div>
